<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="css/style.css">
		<title>Eduardo's Eatery</title>
	</head>
	<body>
		<div id="container" class="container">
			<div class="row">

				<div class="col align-items-center flex-col sign-up">
					<div class="form-wrapper align-items-center"></div>
				</div>
				
				<div class="col align-items-center flex-col sign-in">
					<div class="input-group"><h3>EDUARDO'S EATERY</h3></div>
					<div class="form-wrapper align-items-center">
						<form action="/" method="post">
							<div class="form sign-in">
								<div class="input-group">USER LOGIN</div>
								<div class="input-group">
									<i class='bx bxs-user'></i><input type="text" name="employeeid" placeholder="Employee ID" required>
								</div>
								<div class="input-group">
									<i class='bx bxs-lock-alt'></i><input type="password" name="userpassword" placeholder="Password" required>
								</div>
								<button>Login</button>
						</form>
					</div>
				</div>
			
			</div>
		</div>
		<div class="row content-row">
			<div class="col align-items-center flex-col">
				<div class="img sign-in">
					<img src="img/undraw_different_love_a3rg.svg" alt="welcome">
				</div>
			</div>
		</div>
							</div>
		<script src="js/index.js"></script>
	</body>
</html>